body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  border: 1px solid gray;
  width: 80%;
}

.ingredientsList {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.ingredient {
  display: block;
  padding: 0.8rem;
  border: 2px solid rgb(131, 131, 131);
  border-radius: 0.4rem;
  display: flex;
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin: 2px;
  text-align: left;
}

.ingredient__checked_true {
  border: 3px solid #4939ff;
}

.recipeResultsList,
.missingIngredientsList {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  text-align: left;
}

.recipe {
  margin-bottom: 30px;
  border-bottom: 2px solid grey;
  border-width: 80%;
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLink {
  margin: 20px;
}

.mainLogo {
  text-align: center;
}

.submitIngredients,
.submitSignup,
.submitLogin {
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tryAgainButton,
.searchMoreButton {
  margin-bottom: 50px;
}

.recipeImage {
  height: 200px;
  align-self: center;
  cursor: pointer;
}

.signupForm,
.LoginForm {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 70px;
}

.savedStar {
  width: 30px;
}

.loginReminder {
  color: rgb(91, 91, 91);
}

.recipeTitle {
  font-size: large;
  font-style: bold;
}
