@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(./fonts/Ubuntu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Staatliches";
  src: local("Staatliches-Regular"),
    url(./fonts/Staatliches-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: Ubuntu, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(188, 232, 245);
}

h2 {
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  border: 1px solid gray;
  width: 80%;
}

.ingredients {
  padding-top: 25px;
}

.ingredientsList {
  border-top: 3px solid grey;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 40%;
}
.ingredient {
  display: block;
  border: 3px solid rgb(131, 131, 131);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  cursor: pointer;
  text-align: left;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.ingredientContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  margin: auto;
}

.ingredient__checked_true {
  border: 3px solid blue;
}

.missingIngredientsList {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  text-align: left;
}

.recipeList {
  padding-top: 30px;
  border-top: 2px solid grey;
}

.recipe {
  margin-bottom: 30px;
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link {
  font-family: Staatliches, "Courier New", Courier, monospace;
  font-size: 55px;
  color: #004a7b;
  font-weight: 200;
}

.navLink,
.authLink {
  font-family: Staatliches, "Courier New", Courier, monospace;
  margin: 20px;
  font-size: 20px;
  color: #004a7b;
}

.mainLogo {
  text-align: center;
}

/* buttons */
.submitIngredients,
.submitSignup,
.submitLogin,
.tryAgainButton,
.searchMoreButton,
.unsaveButton,
.saveButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #a9a9a9;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  transition: all 0.2s;
  margin-top: 10px;
  margin-bottom: 30px;
}

.submitIngredients,
.searchAgainButton {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.searchMoreButton {
  margin: 0px;
}

.submitIngredients:hover,
.submitSignup:hover,
.submitLogin:hover,
.searchAgainButton:hover,
.searchMoreButton:hover,
.unsaveButton:hover,
.saveButton:hover {
  color: white;
  background-color: gray;
}

.saveButton {
  width: 40px;
  align-self: center;
  width: auto;
  margin-top: 5px;
}

.recipeImage {
  height: 200px;
  align-self: center;
}

.ingredientIcon {
  height: 30px;
  width: auto;
}

/* specific ingredients CSS */
.bread,
.eggs,
.pork_chops,
.tortillas {
  width: 45px;
  height: 25px;
}
.ramen,
.ground_beef,
.flour {
  width: 40px;
  height: auto;
}

.signupForm,
.LoginForm {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 70px;
}

.savedStar {
  width: 30px;
}

.loginReminder {
  color: rgb(91, 91, 91);
}

.recipeTitle {
  font-family: Staatliches, "Courier New", Courier, monospace;
  padding-top: 10px;
  font-size: 30px;
  color: #004a7b;
}

.loader {
  border: 0.1em solid #f3f3f3;
  border-top: 0.1em solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .ingredientsList {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }

  .ingredient {
    height: 100%;
    margin-bottom: 5px;
  }
  .ingredientContainer {
    width: auto;
    width: 30%;
  }
}
